.App {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 70%;
  height: 740px;
  border-radius: 10px;
  background: url("../../assets//images//wallpaper.png") center center/cover no-repeat;
}
