.MessageList {
    display: flex;
    height: 100%;
    align-items: end;
    overflow-y: scroll;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
        width: 5px;
        // background-color: white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(11, 20, 26, .2);
        border-radius: 10px;
    }
    &__wrapper {
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // padding-bottom: 12px;
    }
    &__get_message {
        display: flex;
        align-self: flex-start;
        min-width: 10%;
        max-width: 50%;
        margin-bottom: 12px;
        background-color: white;
        margin-left: 50px;
        border-radius: 0px 10px 10px 10px;
        padding: 8px 8px;
        border: 1px solid lightgray;
        font-size: 14.2px;
        line-height: 19px;
    };
    &__set_message {
        display: block;
        align-self: flex-end;
        overflow-wrap: break-word;
        min-width: 70px;
        max-width: 50%;
        background-color: #c4f9c3;
        margin-right: 50px;
        border-radius: 10px 0px 10px 10px;
        border: 1px solid lightgray;
        padding-top: 6px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 7px;
        position: relative;
        box-sizing: border-box;
        &:last-child {
            margin-bottom: 5px;
        }
        &:before {
            content: '';
            height: 13px;
            width: 12px;
            position: absolute;
            top: 0;
            right: -3px;
            background-color: #c4f9c3;
            transform: skew(-30deg);
            box-shadow: 1px 0px 0px 0px rgba(140, 153, 163, 0.2);
        }
        &_wrapper {
            display: block;
        }
        &_text {
            margin-left: 5px;
            margin-right: 55px;
            font-size: 14.2px;
            text-align: start;
            line-height: 19px;
        }
        &_wrapperTime {
            display: flex;
            justify-content: flex-end;
            height: 3px;
            &_time {
                margin-left: 5px;
                align-self: flex-end;
                color: #667781;
                font-size: 11px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             }
            &_img {
                margin-left: 5px;
                align-self: end;
                    svg {
                        padding-top: 5px;
                        align-self: flex-end;
                        color: #53bdeb;
                    }
            }
        }
    }
    // &__set_message {
    //     display: flex;
    //     align-self: flex-end;
    //     overflow-wrap: break-word;
    //     min-width: 10%;
    //     max-width: 50%;
    //     background-color: #c4f9c3;
    //     margin-right: 50px;
    //     border-bottom-right-radius: 15px;
    //     border: 1px solid lightgray;
    //     padding-top: 6px;
    //     padding-bottom: 8px;
    //     padding-left: 9px;
    //     padding-right: 7px;
    //     &_text {
    //         font-size: 14.2px;
    //         text-align: start;
    //         line-height: 19px;
    //     }
    //     &_time {
    //       margin-left: 5px;
    //        align-self: flex-end;
    //        padding-bottom: 8px;
    //        color: #667781;
    //        font-size: 12px;
    //        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //     }
    //    &_picture {
    //         align-self: flex-end;
    //             svg {
    //                 color: #53bdeb
    //             }
    //    }
    // }
}