.MessageList {
    display: flex;
    height: 100%;
    // justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__get-message {
        width: 100px;
        height: 20px;
        background-color: white;
        margin-left: 50px;
        border-bottom-left-radius: 15px;
        padding: 8px 8px;
        border: 1px solid lightgray;
        font-size: 14.2px;
        line-height: 19px;
    };
    &__set-message {
        margin-top: 25px;
        width: 100px;
        height: 20px;
        background-color: #c4f9c3;
        margin-right: 50px;
        padding-top: 6px;
        padding-bottom: 8px;
        padding-left: 9px;
        padding-right: 7px;
        border-bottom-right-radius: 15px;
        border: 1px solid lightgray;
        font-size: 14.2px;
        line-height: 19px;
    }
}